html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(27deg, rgba(2,0,36,1) 0%, rgba(9,55,121,1) 28%, rgba(0,212,255,1) 100%);
}

.login-form-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

#login-form {
    text-align: center;
    padding-top: 20px;
    /* border: 1px solid #CCC; */
}

input {
    margin: 5px;
    width: 75%;
    height: 25px;
}

input::placeholder {
    padding-left: 7.5px;
    text-transform: capitalize;
}

input:focus {
    border: 3px solid #555
}

.submit {
    width: 77.5%;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}