

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
}

.main-container {
    width: 100%;
    text-align: center;
}

.flex-form-parent-element {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.flex-child-element {
    flex: 1;
}

.flex-child-element:first-child {
    margin-top: 50px;

}

.image-container {
    height: 100%;
    width: 100%;
}

.image-container > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


#form-container > * {
    margin: 15px;
}

#form-container > h1 {
    font-size: 35px;
}

#form-container > h2 {
    margin-top: 20px;
    font-size: 20px;
}

input {
    width: 85%;
    margin-top: 20px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

input::placeholder {
    text-transform: capitalize;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 5px #719ECE;
}

.submit, .next-button, .back-button {
    width: 84.9%;
    height: 40px;
    background-color: #FEE58E;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

#back-button {
    margin-top: 20px;
}

#form-container, p {
    margin-top: 20px;
    font-size: 12.5px;
}

#form-container {
    margin-top: 100px;
}

.error-message {
    color: red;
    font-size: 12.5px;
    margin-bottom: -5px;
}