@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400;1,700&family=Roboto&display=swap');

/* 
font-family: 'Jost', sans-serif; - For Logo and Main Nav
font-family: 'Roboto', sans-serif; - For Everything Else
*/


/* ------------------------------------------------------ */
/* ------------------ GLOBAL STYLES --------------------- */
/* ------------------------------------------------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 7.5px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f9db6e;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
background: #555;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f9db6e;
}

body {
    background-color: rgb(225, 225, 225);
}

.hover-underline-animation {
    display: block;
    position: relative;
    padding: 0.2em 0;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(118, 117, 117);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
  .hover-underline-animation:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

#main-container {
    height: 80vh;
}

/* Logout State */
.hero-image {
    background-image: url("./assets/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 88vh;
}

#hero-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 40%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.313);
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 30%;
    left: 30%;
    font-family: 'Jost', sans-serif;
}

.hero-paragraph {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}

.call-to-action-button {
    background-color: #FEE58E;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.call-to-action-button:hover {
    cursor: pointer;
}


/* Navbar */
.mainnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171C21;
    color: white;
    height: 60px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.mainnav > li {
    list-style: none;
}

.mainnav > li:first-child {
    margin-left: 10px;
}


.mainnav > li:hover, .cta:hover {
    cursor: pointer;
}

#home-logo {
    margin-left: 40px;
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.cta {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 3px;
}

.cta > li:nth-child(1) {
    margin-right: 30px;
}

#cta-join-now {
    background-color: #FEE58E;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#cta-join-now > a {
    text-decoration: none;
    color: black;
}

#cta-login {
    padding: 10px 5px;
}

#cta-login > a {
    text-decoration: none;
    color: white;
}

.wave-emoji {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  

.spacer {
    background-color: #171C21;
    height: 12.5px;
}

.subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 95%;
    height: 60px;
    padding: 25px;
    margin-top: -12.5px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}

.subnav > li {
    list-style: none;
    font-size: 11px;
}

.subnav > li:hover {
    cursor: pointer;

}

.subnav > li > i {
    margin-right: 5px;
}

.li-space {
    border-right: 1px solid rgba(0, 0, 0, 0.218);
    height: 30px;
}

.subnav > li:nth-child(2) {
    cursor: default;
}

.subnav > #search-bar {
    border-right: 1px solid rgba(66, 66, 66, 0.218);
    padding-right: 40px;
}

.search-bar-container > input {
    border: 0.5px solid rgba(66, 66, 66, 0.218);
    outline: none;
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: rgb(66, 66, 66);
}

.search-bar-container > button {
    border: none;
    outline: none;
    background-color: #FEE58E;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: rgb(66, 66, 66);
}

.search-bar-container > button:hover {
    cursor: pointer;
}

/* ------------------ FOOTER COMPONENT ------------------ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #171C21;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

/* ------------------------------------------------------ */
/* ------------------- SEARCH PAGE ---------------------- */
/* ------------------------------------------------------ */


.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5%;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 7.5px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    padding: 2.5%;
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}


/* ------------------------------------------------------ */
/* -------------------- HOME PAGE ----------------------- */
/* ------------------------------------------------------ */

#home-container {
    background-color: #F9F9F9;
}

.profile-row-1 {
    display: flex;
    padding: 2.5%;
    border: 1px solid rgba(151, 151, 151, 0.218);
    width: 1000px;
    height: 225px;
    justify-content: center;

}

.profile-card {
    display: flex;
    padding: 2.5%;
    flex-wrap: wrap;
}

.profile-card h2, h3 {
    font-size: 16px;
    color: rgb(66, 66, 66);
}

.profile-card p {
    font-size: 12px;
    color: rgb(66, 66, 66);
}

.profile-card-goals p {
    font-size: 13px;
    color: rgb(66, 66, 66);
}

.profile-card-user-info {
    display: flex;
    flex-direction: column;
    background-color: #feefb8;
    border-radius: 7.5px;
    margin-left: 30px;
    width: 30%;
    height: 175px;
    font-size: 12px;
    color: rgb(66, 66, 66);
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}


.profile-card-user-details {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.profile-card-user-details > h2 {
    width: 150px;
}

.profile-card-user-details > * {
    margin-bottom: 5px;
}


.profile-card-goals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: wrap;
    color: white;
}

.weight-goal-profile, .activity-goal-profile, .calorie-goal-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    font-size: 12px;
    height: 175px;
    width: 75px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}

.profile-card-goals i {
    font-size: 20px;
    margin-bottom: 10px;
    /* border: 1px solid white; */
    border-radius: 7.5px;
    padding: 5px;
    height: 35px;
}

.weight-goal-profile {
    background-color: #6F4CF9;
    border-radius: 7.5px;
}

.weight-goal-profile > p {
    color: white;
}

.weight-goal-profile p:nth-child(2) {
    font-weight: bold;
}

.activity-goal-profile {
    background-color: #DC796E;
    border-radius: 7.5px;
}

.activity-goal-profile > p {
    color: white;
}

.activity-goal-profile p:nth-child(2) {
    font-weight: bold;
}

.calorie-goal-profile {
    background-color: #69B2DB;
    border-radius: 7.5px;
}

.calorie-goal-profile > p {
    color: white;
}

.calorie-goal-profile p:nth-child(2) {
    font-weight: bold;
}

.activity-card, .weight-card, .calorie-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7.5px;
    margin-top: 10px;
    margin-left: 30px;
    width: 30%;
    height: 225px;
    padding: 2.5%;
    font-size: 12px;
    color: rgb(66, 66, 66);
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}



.activity-card-header, .weight-card-header, .calorie-card-header {
    border-bottom: 1px solid rgb(243, 242, 242);
    display: flex;
    justify-content: space-between;
}

.add-activity-button, .add-weight-button, .add-calorie-button {
    background-color: white;
    border: none;
    font-size: 12px;
    color: rgb(66, 66, 66);
    font-weight: bold;
    margin-left: 5px;
    padding: 5px;
}

.add-activity-button > i {
    color: black;
}

.add-activity-button:hover, .add-weight-button:hover, .add-calorie-button:hover {
    cursor: pointer;
}

.activity-card-body, .weight-card-body, .calorie-card-body {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.activity-card-body-header {
    display: flex;
    background-color: #DC796E;
    height: 125px;
    width: 100px;
    border-radius: 7.5px;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
}

.calorie-card-body-header {
    display: flex;
    background-color: #69B2DB;
    height: 125px;
    width: 100px;
    border-radius: 7.5px;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
}

.weight-card-body-header {
    display: flex;
    background-color: #6F4CF9;
    height: 125px;
    width: 100px;
    border-radius: 7.5px;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
}

.activity-card-body-header > * {
    color: white;
}

.calorie-card-body-header > * {
    color: white;
}

.weight-card-body-header > * {
    color: white;
}

.activity-card-body-content, .weight-card-body-content, .calorie-card-body-content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}

.activity-card-body-content > * {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/* calories -- page */
.cal-card-container {
    background-color: white;
    border-radius: 7.5px;
    width: 95.25%;
    height: 150px;
    margin: 30px 25px 30px 25px;
    
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;
}
#cal_rendering {
    margin: 80px 25px 25px 20px
}
#cal_rendering h2 {
    padding:20px 15px 20px 15px

}

/* add new calories section */
#form_section {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;


}
#cal_form {
    grid-column-start: auto;

}
#cal_form input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

#left-cal {
    grid-column-start: auto;

}


/* ----------------------------------------------------- */
/* ------------------ PROFILE PAGE ---------------------- */
/* ------------------------------------------------------ */

.main-card-container {
    background-color: white;
    border-radius: 7.5px;
    width: 95.25%;
    height: 700px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}



.page-title {
    font-size: 12px;
    border-bottom: 1px solid rgb(243, 242, 242);
    margin-left: 11px;
    width: 97.5%;
}

.page-title > h1 {
    padding: 20px;
    padding-top: 30px;
}

.gradient-background {
    background: rgb(250,241,245);
    background: radial-gradient(circle, rgba(250,241,245,1) 0%, rgba(237,242,249,1) 76%, rgba(246,254,242,1) 100%);
    margin: 0 auto;
    height: 180px;
    width: 90%;
    margin-top: 20px;
    border-top-left-radius: 100px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: -75px;
    border: 5px solid white;
    box-shadow: 0 4px 2px -2px rgba(146, 146, 146, 0.2);
}

.form-container {
    display: flex;
}


.form-col > h2 {
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgb(66, 66, 66);
    width: 200px;
}

.form-col > input {
    border: none;
    border-bottom: 1px solid rgb(243, 242, 242);
    width: 80%;
    font-size: 14px;
    color: rgb(66, 66, 66);
    margin-left: 50px;
    margin-bottom: 18px;
}

.form-col > input:focus {
    outline: 1px solid rgb(243, 242, 242);
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -50px;
    margin-bottom: 70px;
}




.submit-container h2 {
    margin-right: 20px;
    width: 55%;
    font-size: 16px;
    color: rgb(66, 66, 66);
}

.submit {
    background-color: #FEE58E;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    align-items: end;
    width: 8%;
    margin-left: 20px;
    font-size: 12px;
} 


.upload-picture {
    border: 0.5px solid rgb(220, 220, 220);
    border-radius: 5px;
    font-size: 12px;
    width: 5%;
}

.submit:hover, .upload-picture:hover {
    cursor: pointer;
}

.response-message {
    text-align: center;
    color: red;
    font-size: 12px;
}


















/* 
.sidenav {
  height: 90%;
  width: 30px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-left: 20px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 7.5px;
  box-shadow: 2px 2px 2px 2px rgba(146, 146, 146, 0.2);
}

.sidenav > li {
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -15px;
    margin-top: 30px;
}

li:hover {
    cursor: pointer;
}

i {
    font-size: 20px;
}

.sidenav li:last-child {
    margin-top: auto;
    color: blue;
}

.profile-description-container {
    background-color: white;
    border-radius: 7.5px;
    width: 700px;
    height: 200px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 2px 2px rgba(146, 146, 146, 0.2);
}

.profile-description-container > h2, p {
    padding-left: 20px;
    padding-top: 5px;
}

.profile-description-container p {
    font-size: 12px;
} */